@model TrainC1810L.Models.Compartment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_SiderBar.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Compartment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numrows)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numrows)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numcloums)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numcloums)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trains)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trains.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
