@model IEnumerable<TrainC1810L.Models.ModelView.Booking>

@{
    ViewData["Title"] = "Bill";
    Layout = "~/Views/Shared/_SiderBar.cshtml";
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Chuyến tàu
                </th>
                <th>
                    Mã tàu
                </th>
                <th>
                    Khách Hàng
                </th>
                <th>
                    Giá tiền
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td >
                    @item.Id
                </td>
                <td>
                    @item.Field
                </td>
                <td>
                    @item.TraiNo
                </td>
                <td>
                    @item.NamePasser
                </td>
                <td>
                    @item.TotalChair
                </td>

            </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <label for="example-number-input" class="col-form-label">Thanh Toán: </label>
        <div class="col-sm-6">
            <input class="form-control" type="number" value="" id="Received" placeholder="Money Received" onfocusout="myFunction()">
        </div>
        <span style="font-size:50px;margin-left: 18px;"> - </span>
        @foreach (var item in Model)
        {
            <span style="display:none" id="IdBook">@item.Id</span>
            <span style="display:none" id="TotalPrice">@item.Price</span>
            <span style="display:none" id="PassengerId">@item.PassengerId</span>
            <span style="display:none" id="ChairId">@item.ChairId</span>
            <div class="col-sm-6">
                <input class="form-control" type="number" value="@item.Price" id="Total" disabled>
            </div>
        }
    </div>
    <div class="form-group col-sm-6">
        <label for="example-text-input" class="col-form-label">Refunds</label>
        <input class="form-control" type="text"  id="Refunds" disabled value="">
    </div>
    <button class="btn btn-primary" type="submit" onclick="bill()">Thanh Toán</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    function myFunction() {
        var MoneyReceived = $("#Received").val();
        var Total = $("#TotalPrice").html();
        if (MoneyReceived >= Total) {
            var Refunds = MoneyReceived - Total;
            $('#Refunds').val($('#Refunds').val() + Refunds);
        } else {
            alert(" Số Dư Không Đủ !!!")
            
        }
    }
    function bill()
    {
        var MoneyReceived = $("#Received").val();
        var Total = $("#Total").val();
        var statusbill = 'true';
        var Id = $("#IdBook").html();
        var Refund = $("#Refunds").val();
        var passengerId = $("#PassengerId").html();
        var chairId = $("#ChairId").html();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Admin/Ticket",
            data: {
                MoneyReceived: MoneyReceived,
                Refunds: Refund,
                BookingTicketID: Id,
                Status: statusbill,
                PassengerId: passengerId,
                ChairId: chairId,
            },
            success: function (data) {
            }
        });
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Admin/BillResult",
            data: {
                MoneyReceived: MoneyReceived,
                Refunds: Refund,
                BookingTicketID: Id,
                Status: statusbill,
                PassengerId: passengerId,
                ChairId: chairId,
            },
            success: function (data) {
                alert("Đăng kí thành công !!!");
                window.location.href = '/BookingTickets/Index';
            }
        });
    }
</script>
