@model IEnumerable<TrainC1810L.Models.BookingTicket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SiderBar.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.passenger)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.chair)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.passenger.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chair.Id)
            </td>
            <td>
                <a asp-controller="Admin" asp-action="Bill" asp-route-id="@item.Id">Bill</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
