@model TrainC1810L.Models.Bill

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_SiderBar.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoneyReceived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoneyReceived)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Refunds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Refunds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalMoney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalMoney)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bookingticket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bookingticket.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
