@model TrainC1810L.Models.Bill

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_SiderBar.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoneyReceived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoneyReceived)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Refunds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Refunds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalMoney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalMoney)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bookingticket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bookingticket.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
